{
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "editorconfig": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none"
  }
  